<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Contact</h1>
  <p class="lead">😻 Envoie un fax à Clémentine, un courrier postal à Marie, un mail à Flavien ou un snap à Benjamin 😻</p>
  <br/>


<div class="row">
  <div class="card-deck mx-auto text-center">

   <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Marie</div>
      <div class="card-body text-info">
        <h5 class="card-title">UI Desgin Director</h5>
        <p style="font-size:100px">&#129418;</p>
        <a href=https://github.com/mariedx >Github de Marie</a>
       
      </div>
    </div>
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Flavien</div>
      <div class="card-body text-info">
        <h5 class="card-title">Rails CEO</h5>
        <br/>
        <p style="font-size:100px">&#128040;</p>
        <a href=https://github.com/FlavienLoiseau >Github de Flavien</a>
      </div>
    </div>
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Clémentine</div>
      <div class="card-body text-info">
        <h5 class="card-title">UX Design Director</h5>
        <p style="font-size:100px">&#128035;</p>
        <a href=https://github.com/Clem-svg >Github de Clémentine</a>
      </div>
    </div>
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Benjamin</div>
      <div class="card-body text-info">
        <h5 class="card-title">CTO</h5>
        <br/>
        <p style="font-size:100px">&#129412;</p>
        <a href=https://github.com/BenjaminServal >Github de Benjamin</a>
      </div>
    </div>
    </div>
  </div>
</div>