<div class="card gossip-card" style="width: auto;">
  <div class="card-body">
    <h4>Comment by <%= comment.user.first_name + " " + comment.user.last_name %></h4>
    <hr/>
    <p><%= comment.content %></p>
    <div class="d-flex">
    <button class="btn-custom-edit mx-auto">
      <%= link_to "Edit this comment", edit_gossip_comment_path(@gossip.id, comment.id)%>
    </button>
    </div>
  </div>
</div>