<div class="container">
  <div class="text-center">
    <!--image-->
      <div class="avatar mx-auto white">
        <br>
          <img src="https://picsum.photos/500">
        <br><br>
      </div>
      <!--text-->
    <h2 class="featurette-heading">Bienvenue à <%= @city.name %>, <span class="text-muted">il fait chaud & beau 🌞</span></h2>
    <p class="lead"> Son magnifique code postal est : <%= @city.zip_code %>.</p>
  </div>
</div>
